body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 3px;
    background: linear-gradient(to right, #0C1F1E, #4B4B48);
    color: #fff;
    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 3px;
}

.logo img {
    width: 40px; /* Kích thước logo */
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Georgia', serif;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #01bc4c; /* Màu hover cho các link */
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    right: 3px;
}

.search-container input {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px 0 0 20px;
    width: 200px;
    font-size: 14px;
}

.search-container input::placeholder{
    color: #008a37b3;
}

.search-container .search-button,
.search-container .clear-button {
    background-color: #008937b3; /* Màu nút Search */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.search-container img {
    width: 20px;
    height: auto;
}

.search-container .search-button:hover,
.search-container .clear-button:hover {
    background-color: #003f19b3; /* Màu khi hover nút */
}

/* container */
.container {
    flex-grow: 1;
    background-image: linear-gradient(to right,#008937b3, rgba(223, 223, 223, 0)), url(./src/home-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    color: #fff;
}

.vertical-line {
    height: 200px;
    /* margin: 30px 20px; */
    width: 1px;
    background-color: white;
}

.list-social-media-icon{
    list-style: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}

.list-social-media-icon li{
    margin: 12px 0;
}
.icon {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.icon:hover {
    filter: invert(54%) sepia(94%) saturate(2431%) hue-rotate(107deg) brightness(93%) contrast(99%); /* Màu khi hover */
}

.social-media-icon {
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    align-items: center;
    padding: 30px 15px 0;
}

.introduce {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

h1 {
    font-size: 60px;
    line-height: 1.2;
    margin: 0 0 20px 0;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.introduce button{
    background-color: #008937b3; /* Màu nút Search */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width:fit-content;
}

.introduce button:hover{
    background-color: #003f19b3; /* Màu khi hover nút */
}

/* travel recommendation */
.travel-recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: 50px;
}

.location{
    background-color: red;
    max-width: 400px;
    /* border-radius: 10px; */
    margin: 10px 0;
}

.location img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.content{
    margin: 0;
    background-color: white;
}
.content h3{
    margin: 0;
    padding: 0;
    color: black;
}
.content p{
    color: black;
    margin: 0;
    padding: 0;
}